{% extends 'default.html' %}

{% block title %}
Books
{% endblock title %}

{%block content%}
{%if author_user%}
<p>Вы являетесь автором</p>
<button><a href="/authors/update/{{author_user.id}}/">Редактировать профиль</a></button>
{%endif%}
<hr>
<button><a href = "/authors/search/">Фильтр</a></button><br><hr>
{%for author in authors%}
<a href = "/authors/{{author.id}}"><h6>Псевдоним: {{author.name}}</h6></a>
{%if author.category.all%}
<p>Жанры:</p>
{%for category in author.category.all%}
<p> - {{category.name_category}} </p>
{%endfor%}
{%endif%}
<br><hr>
    {%endfor%}
{% endblock %}