{% extends 'default.html' %}

{% block title %}
Books
{% endblock title %}

{%block content%}<br>

<p>{%if author_user%}
    <button><a href = "/books/my/">Мои книги</a></button>
{%endif%}
    <button><a href = "/books/search/">Фильтр</a></button><br><hr>
</p>

<form action="" method="get">

       {{ filterset.form.as_p }}

    <input type="submit" value="Найти" />
</form><br><hr>


{%for book in books%}
    <a href = "/books/{{book.id}}"><h3>{{book.name}}</h3></a>
    <p>{{book.discription}}</p>
    <p>Автор: {{book.author.name}}</p>
    {%if book.rating%}
        <p>Оценка: {{book.rating}}</p>
    {%endif%}
    <br><hr>
{%endfor%}
{% endblock %}